.book-list{
  button{
    cursor: pointer;
  }
  .tip{
    color: #ff0000;
  }
  table{
    th, td{
      border: 1px solid #ccc;
      padding: 5px 15px;
    }
  }
  .paginationContainer{
    .pagination{
      cursor: pointer;
      display: inline-block;
      width: 20px;
      height: 20px;
      border: 1px solid #000;
      &:hover{
        background-color: silver;
      }
      &.cur_no{
        color: #fff;
        background-color:sandybrown ;
      }
    }

  }
}